<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/34aa0542-90a1-40d6-a1ce-c5860f846012/resourceGroups/ogkaaos/providers/Microsoft.Web/sites/organizedchaos-asp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://organizedchaos-asp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>organizedchaos-asp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>organizedchaos-asp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$organizedchaos-asp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>